body {
  background-color: black;
  text-align: center;
  color: white;
}
#myCanvas {
  background-image: url("https://scx2.b-cdn.net/gfx/news/2019/galaxy.jpg");
  background-size: 400px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}
.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}